---
import type { GetStaticPathsOptions, Page } from 'astro';
import type { CollectionEntry } from 'astro:content';
import type { Terms } from '~/types.ts';
import { CUSTOM_PER_PAGE, PERMALINK_CUSTOM, PERMALINK_CUSTOM_SINGLE, THEME_CONTAINER_DESKTOP, THEME_CONTAINER_MOBILE } from '~/consts';
import { getTerms, getEntriesByTag, getEntriesByCategory } from '~/utils';
import Layout from '~/layouts/Layout.astro';
import CustomCard from '~/components/cards/Post.astro';
import SectionHeader from '~/components/partials/SectionHeader.astro';
import Pagination from '~/components/ui/Pagination.astro';

export async function getStaticPaths({ paginate }: GetStaticPathsOptions) {
  const terms: Terms[] = await getTerms('custom');
  let paths: any[] = [];

  for (const term of terms) {
    const { name, slug, type } = term;

    let entries;
    switch (type) {
      case 'category':
        entries = await getEntriesByCategory('custom', name);
        break;
      case 'tag':
        entries = await getEntriesByTag('custom', name);
        break;
      default:
        entries = await getEntriesByCategory('custom', name);
    };

    const paginatedTerms = paginate(entries, {
      params: { custom: PERMALINK_CUSTOM, terms: `${type}/${slug}` },
      pageSize: CUSTOM_PER_PAGE || 9
    });

    paginatedTerms.forEach((path) => {
      path.props = { ...path.props, term };
    });

    paths = paths.concat(paginatedTerms);
  };

  return paths;
};

const { page, term } = Astro.props as { page: Page<CollectionEntry<'custom'>>, term: Terms };
---

<Layout
  title="All custom"
  description="An archive of all custom"
>
  section class={`flex flex-col py-8 ${THEME_CONTAINER_DESKTOP} ${THEME_CONTAINER_MOBILE}`}>

    <SectionHeader
      class="border-b-2 border-light-grey dark:border-dark-grey mb-8"
      title={`All custom tagged with '${term.name}'`}
      titleTag="h1"
      description={`Showing ${page.end + 1} of ${page.total} custom.`}
    />

    <div class="grid gap-8 grid-cols-1 sm:grid-cols-2 lg:grid-cols-3">
      {page.data.map((custom) =>
        <CustomCard
          title={custom.data.title}
          titleTag="h3"
          description={custom.data.description}
          date={custom.data.pubDate}
          image={custom.data.image?.src}
          alt={custom.data.image?.alt}
          href={`${Astro.site}${PERMALINK_CUSTOM_SINGLE}${custom.data.slug}/`}
        />
      )}
    </div>

    <Pagination
      page={page}
    />

  </section>
</Layout>
