---
import type { GetStaticPathsOptions, Page } from 'astro';
import { type CollectionEntry } from 'astro:content';
import { PERMALINK_POSTS, PERMALINK_POSTS_SINGLE, POSTS_PER_PAGE } from '../../consts';
import { getEntries } from '../../utils';
import Layout from '../../layouts/Layout.astro';
import PostsCard from '../../components/cards/PostsCard.astro';
import Pagination from '../../components/ui/Pagination.astro';
import Heading from '../../components/blocks/Heading.astro';

interface Props { 
  page: Page<CollectionEntry<'posts'>>
};

export async function getStaticPaths({ paginate }: GetStaticPathsOptions) {
    const posts = await getEntries('posts');
    return paginate(posts, { 
      params: { posts: PERMALINK_POSTS },
      pageSize: POSTS_PER_PAGE || 9
    });
};

const { page }: Partial<Props> = Astro.props;
---

<Layout
  title="All Posts"
  description="An archive of all posts"
>
  <section class="not-prose flex flex-col py-8">

    <Heading
      class="border-b-2 border-theme-300 dark:border-theme-700 mb-8"
      title="Archive"
      titleTag="h1"
      description={`Showing ${page.start + 1} to ${page.end + 1} posts out of ${page.total} posts.`}
    />

    <div class="grid gap-8 grid-cols-1 sm:grid-cols-2 lg:grid-cols-3">
      {page.data.map((post) =>
        <PostsCard
          title={post.data.title}
          titleTag="h3"
          description={post.data.description}
          date={post.data.pubDate}
          image={post.data.image?.src}
          alt={post.data.image?.alt}
          href={`/${PERMALINK_POSTS_SINGLE}/${post.data.slug}/`}
        />
      )}
    </div>

    <Pagination
      page={page}
    />

  </section>
</Layout>
