---
import type { GetStaticPathsOptions, Page } from 'astro';
import { type CollectionEntry } from 'astro:content';
import { PERMALINK_POSTS, PERMALINK_POSTS_SINGLE, POSTS_PER_PAGE, THEME_CONTAINER_DESKTOP, THEME_CONTAINER_MOBILE } from '../../consts';
import { getEntries } from '../../utils';
import Layout from '../../layouts/Layout.astro';
import PostCard from '../../components/cards/Post.astro';
import SectionHeader from '../../components/partials/SectionHeader.astro';
import Pagination from '../../components/ui/Pagination.astro';

interface Props { 
  page: Page<CollectionEntry<'posts'>>
};

export async function getStaticPaths({ paginate }: GetStaticPathsOptions) {
    const posts = await getEntries('posts');
    return paginate(posts, { 
      params: { posts: PERMALINK_POSTS },
      pageSize: POSTS_PER_PAGE || 9
    });
};

const { page }: Partial<Props> = Astro.props;
---

<Layout
  title="All Posts"
  description="An archive of all posts"
>
  <section class={`flex flex-col py-8 ${THEME_CONTAINER_DESKTOP} ${THEME_CONTAINER_MOBILE}`}>

    <SectionHeader
      class="pb-8 border-b-2 border-light-grey dark:border-dark-grey mb-8"
      description={`Showing ${page.start + 1} to ${page.end + 1} posts out of ${page.total} posts.`}
      heading="Archive"
      headingOptions={{
        headingTag: 'h1'
      }}
    />

    <div class="grid gap-8 grid-cols-1 sm:grid-cols-2 lg:grid-cols-3">
      {page.data.map((post) =>
        <PostCard
          date={post.data.pubDate}
          description={post.data.description}
          heading={post.data.title}
          headingOptions={{
            headingTag: 'h3'
          }}
          image={post.data.image?.src}
          imageOptions={{
            altText: `${post.data.image?.alt}`
          }}
          href={`${Astro.site}${PERMALINK_POSTS_SINGLE}${post.data.slug}/`}
        />
      )}
    </div>

    <Pagination
      page={page}
    />

  </section>
</Layout>
