---
import { type CollectionEntry, render } from 'astro:content';
import { PERMALINK_POSTS_SINGLE } from '../../consts';
import { getEntries } from '../../utils';
import Layout from '../../layouts/Layout.astro';
import Banner from '../../components/sections/Banner.astro';
import Title from '../../components/ui/Title.astro';
import Button from '../../components/ui/Button.astro';
import AuthorProfile from '../../components/blocks/AuthorProfile.astro';

type Props = { 
  entry: CollectionEntry<'posts'>,
  prevEntry: CollectionEntry<'posts'>,
  nextEntry: CollectionEntry<'posts'>
};

export async function getStaticPaths() {
    const entries = await getEntries('posts');
    const entryCount = entries.length;
    return entries.map((entry, index) => ({
        params: { posts: PERMALINK_POSTS_SINGLE, entry: entry.data.slug },
        props: {
            entry,
            prevEntry: index + 1 < entryCount ? entries[index + 1] : null,
            nextEntry: index > 0 ? entries[index - 1] : null
        }
    }));
}

const { entry, prevEntry, nextEntry } = Astro.props;
const { Content } = await render(entry);
---

<Layout title={entry.data.seo?.title || entry.data.title} metaDesc={entry.data.seo?.description || entry.data.description}>
  <article>
    <header>
      <Banner
        title={entry.data.title}
        titleTag="h1"
        description={entry.data.description}
        date={entry.data.pubDate}
        image={entry.data.image?.src}
        alt={entry.data.image?.alt}
        aspectRatio='video'
      />
    </header>

    <div class="flex flex-col md:flex-row gap-8 md:gap-16 md:mb-8">
      <article class="md:py-8">
        <Content />
      </article>

      <aside class="not-prose flex flex-col flex-shrink-0 md:w-72 md:py-8">
        <div class="relative flex flex-col mb-8">
          <Title titleTag='h2' class="md:text-xl mb-2">About this post</Title>
          <div class="absolute bottom-0 -z-40 block w-full border-b-2 border-theme-300 dark:border-theme-700" aria-hidden="true"></div>
        </div>

        <AuthorProfile />

        <div class="flex gap-4 mb-8">
          { prevEntry &&  (
            <Button buttonStyle="link" href={`${Astro.site}${PERMALINK_POSTS_SINGLE}/${prevEntry.data.slug}/`} text="Previous post" icon="tabler:arrow-left" iconSize={21} iconReverse={true} class="w-fit"/>
          )}
          { nextEntry && (
            <Button buttonStyle="link" href={`${Astro.site}${PERMALINK_POSTS_SINGLE}/${nextEntry.data.slug}/`} text="Next post" icon="tabler:arrow-right" iconSize={21} iconReverse={false} class="w-fit"/>
          )}
        </div>

        <div class="relative flex flex-col mb-8">
          <Title titleTag='h2' class="md:text-xl mb-2">Recent Posts</Title>
          <div class="absolute bottom-0 -z-40 block w-full border-b-2 border-theme-300 dark:border-theme-700" aria-hidden="true"></div>
        </div>
      </aside>
    </div>
  </article>
</Layout>
