---
import type { HTMLAttributes } from 'astro/types';
import type { DefaultTypes } from '~/types';
import { THEME_CONTAINER_DESKTOP, THEME_CONTAINER_MOBILE } from '~/consts';
import { resolveBackgroundColor, resolveTextColor } from '~/utils';
import Button from '~/components/ui/Button.astro';
import Heading from '~/components/ui/Heading.astro';
import Text from '../ui/Text.astro';

interface Props extends DefaultTypes, HTMLAttributes<'section'> {};

const { buttonPrimary, buttonSecondary, backgroundColor = 'transparent', bodyColor = backgroundColor, description, heading, headingOptions, layoutOptions, class: className, ...rest }: Partial<Props> = Astro.props;
---

<section class:list={['group flex flex-col', resolveBackgroundColor(backgroundColor), className]} {...rest} >

  <div class:list={['flex flex-col md:flex-row justify-between gap-4', THEME_CONTAINER_MOBILE, THEME_CONTAINER_DESKTOP, layoutOptions?.padded ? `${resolveBackgroundColor(bodyColor)} group p-8 xl:!px-16` : '']}>

    { (heading || description) && (
      <div class="flex flex-col gap-4 max-w-[80ch]">
        { heading && (
          <Heading backgroundColor={bodyColor} {...headingOptions}>
            {heading}
          </Heading>
        )}
        { description && (
          <Text backgroundColor={bodyColor}>
            {description}
          </Text>
        )}
      </div>
    )}

    { (buttonPrimary || buttonSecondary) && (
      <div class="flex flex-col lg:flex-row gap-4 my-auto">
        { buttonPrimary && (
          <Button backgroundColor={bodyColor} {...buttonPrimary} />
        )}
        { buttonSecondary && (
          <Button backgroundColor={bodyColor} {...buttonSecondary} />
        )}
      </div>
    )}

  </div>

</section>
