---
import type { PartialProps } from '~/types';
import { resolveBackgroundColor, resolveTextColor } from '~/utils';
import Button from '~/components/ui/Button.astro';
import Date from '~/components/ui/Date.astro';
import Heading from '~/components/ui/Heading.astro';

const { title, titleTag = 'h2', description, date, dateDescription, primaryButtonProps, secondaryButtonProps, backgroundColor = 'transparent', class: className, ...rest }: Partial<PartialProps> = Astro.props;
---

<div class:list={['flex flex-col gap-4 justify-center', resolveBackgroundColor(backgroundColor), className]} {...rest} >

  { title &&  (
    <Heading titleTag={titleTag} backgroundColor={backgroundColor}>{title}</Heading>
  )}

  { date &&  (
    <Date date={date} description={dateDescription} backgroundColor={backgroundColor} class="text-sm" />
  )}

  { description && (
    <p class={resolveTextColor(backgroundColor)}>{description}</p>
  )}

  { (primaryButtonProps || secondaryButtonProps) && (
    <div class="flex flex-col lg:flex-row gap-4">
      { primaryButtonProps && (
        <Button backgroundColor={backgroundColor} {...primaryButtonProps} />
      )}
      { secondaryButtonProps && (
        <Button backgroundColor={backgroundColor} {...secondaryButtonProps} />
      )}
    </div>
  )}

  <slot />

</div>
