---
import type { DefaultTypes } from '~/types';
import { resolveBackgroundColor, resolveTextColor } from '~/utils';
import Button from '~/components/ui/Button.astro';
import Date from '~/components/ui/Date.astro';
import Heading from '~/components/ui/Heading.astro';
import type { HTMLAttributes } from 'astro/types';

interface Props extends DefaultTypes, HTMLAttributes<'div'> {};

const { backgroundColor = 'transparent', buttonPrimary, buttonSecondary, description, date, dateOptions, heading, headingOptions, class: className, ...rest }: Partial<Props> = Astro.props;
---

<div class:list={['flex flex-col gap-4 justify-center max-w-[80ch]', resolveBackgroundColor(backgroundColor), className]} {...rest} >

  { heading &&  (
    <Heading backgroundColor={backgroundColor} {...headingOptions}>{heading}</Heading>
  )}

  { date &&  (
    <Date date={date} backgroundColor={backgroundColor} class="text-sm" {...dateOptions} />
  )}

  { description && (
    <p class={resolveTextColor(backgroundColor)}>{description}</p>
  )}

  { (buttonPrimary || buttonSecondary) && (
    <div class="flex flex-col lg:flex-row gap-4">
      { buttonPrimary && (
        <Button backgroundColor={backgroundColor} {...buttonPrimary} />
      )}
      { buttonSecondary && (
        <Button backgroundColor={backgroundColor} {...buttonSecondary} />
      )}
    </div>
  )}

  <slot />

</div>
