---
import type { HTMLAttributes } from 'astro/types';
import type { DefaultTypes } from '~/types';
import { Image } from 'astro:assets';
import { resolveBackgroundColor } from '~/utils';
import Avatar from '../ui/Avatar.astro';
import Heading from '../ui/Heading.astro';
import Text from '../ui/Text.astro';

interface Props extends DefaultTypes, HTMLAttributes<'div'> {};

const { backgroundColor = 'transparent', description, image, imageOptions = { altText: '', imageSize: 64 }, heading, class: className, ...rest }: Partial<Props> = Astro.props;
---

<div class:list={['flex flex-col', resolveBackgroundColor(backgroundColor), className]} {...rest} >

  <div class="flex flex-row-reverse justify-end gap-4">

    <div class="flex flex-col gap-1">
      <Heading headingTag="h4" backgroundColor={backgroundColor} class="!text-base font-semibold">{heading}</Heading>
      <Text backgroundColor={backgroundColor} class="text-sm">{description}</Text>
    </div>

    <Avatar
      altText={imageOptions.altText}
      image={image}
      imageMask="circle"
      imageSize={imageOptions?.imageSize}
    />

  </div>

</div>
