---
import type { HTMLAttributes } from 'astro/types';
import type { DefaultTypes } from '~/types';
import { resolveBackgroundColor } from '~/utils'; 
import Button from '~/components/ui/Button.astro';
import Heading from '~/components/ui/Heading.astro';
import Text from '../ui/Text.astro';

interface Props extends DefaultTypes, HTMLAttributes<'header'> {};

const { backgroundColor = 'transparent', buttonPrimary, buttonSecondary, description, heading, headingOptions = { headingTag: 'h2' }, class: className, ...rest }: Partial<Props> = Astro.props;
---

<header class:list={['flex flex-col md:flex-row justify-between gap-4', resolveBackgroundColor(backgroundColor), className]} {...rest} >

  { (heading || description) && (
    <div class:list={['flex flex-col justify-center max-w-[80ch]', (heading && description) ? ' gap-4' : '']}>
      { heading && (
        <Heading backgroundColor={backgroundColor} {...headingOptions} class="">{heading}</Heading>
      )}
      { description && (
        <Text backgroundColor={backgroundColor}>{description}</Text>
      )}
    </div>
  )}

  { (buttonPrimary || buttonSecondary) && (
    <div class="flex flex-col xl:flex-row gap-4 mb-auto">
      { buttonPrimary && (
        <Button backgroundColor={backgroundColor} {...buttonPrimary} />
      )}
      { buttonSecondary && (
        <Button backgroundColor={backgroundColor} {...buttonSecondary} />
      )}
    </div>
  )}

</header>
