---
import { Icon } from 'astro-icon/components';
import menuData from '../../data/menu.json';

type MenuItem = { 
  id: string,
  parentId: string | null,
  slug: string,
  label: string,
  children: MenuItem[]
};

function createMenuTree(menuItems: MenuItem[], parentId: string | null = null): MenuItem[] {
  return menuItems
    .filter(item => item.parentId === parentId)
    .map(item => ({
      ...item,
      children: createMenuTree(menuItems, item.id)
    }));
};

const menuTree = createMenuTree(menuData.menuItems as MenuItem[]);
---

<nav
  class="relative w-screen md:w-full md:flex md:justify-end"
  aria-label="site navigation"
  :class="{ 'hidden md:block': !siteNavigationOpen }"
  :aria-expanded="siteNavigationOpen"
  x-init="$watch('siteNavigationOpen', value => { document.body.classList.toggle('h-full', value); document.body.classList.toggle('overflow-hidden', value); })"
>

  <ul class="overflow-scroll md:overflow-visible absolute top-full md:top-auto left-0 md:left-auto z-20 h-[calc(100vh-90px)] w-full md:h-auto md:relative md:inline-flex md:px-5 bg-white dark:bg-black md:bg-transparent md:dark:bg-transparent" >

    {menuTree.map((item: MenuItem) => (
    <li class="relative flex flex-col" x-data="{ childMenuOpen: false }" @keydown.window.escape="childMenuOpen = false" >
      <div class="flex flex-row items-center justify-between px-4 py-2 md:px-4 md:py-0 text-black hover:text-true-black dark:text-white dark:hover:text-true-white border-b-2 border-light-grey hover:border-true-black dark:border-dark-grey dark:hover:border-true-white transition duration-300" >
        {item.slug ?
        <a class="flex flex-grow justify-between items-center text-lg md:text-base font-medium" href={`${Astro.site}${item.slug}/`} aria-label={`open link to ${item.label}`} >
          <span class="p-2">{item.label}</span>
          {item.children.length === 0 && (
          <Icon name="tabler:arrow-right" height={26} width={26} class="w-8 md:hidden" />
          )}
        </a> :
        <span class="flex p-2 text-lg md:text-base font-medium cursor-pointer" aria-label={item.label} @click="childMenuOpen = !childMenuOpen" >
          {item.label}
        </span>
        }
        {item.children.length > 0 && (
        <button class="flex items-center justify-center md:pr-2" aria-label={`opens ${item.label} sub-menu`} :aria-expanded="childMenuOpen" @click="childMenuOpen = !childMenuOpen" @keydown.window.escape="childMenuOpen = false" >
          <Icon name="tabler:chevron-down" height={32} width={32} :class="{'rotate-180': childMenuOpen}" class="w-8 md:w-4 transition duration-300" />
        </button>
        )}
      </div>

      {item.children.length > 0 && (
      <ul class="md:absolute md:left-0 md:top-full w-full flex flex-col bg-true-white dark:bg-true-black md:bg-true-white dark:md:bg-true-black md:shadow-xl dark:shadow-black" aria-label={`${item.label} sub-menu`} x-show="childMenuOpen" @click.away="childMenuOpen = false" >

        {item.children.map((child: MenuItem) => (
        <li class="relative flex flex-col" x-data="{ grandchildMenuOpen: false }" @keydown.window.escape="grandchildMenuOpen = false" >
          <div class="flex flex-row items-center justify-between px-4 py-2 md:p-0 text-black hover:text-true-black dark:text-white dark:hover:text-true-white border-b-2 border-light-grey hover:border-true-black dark:border-dark-grey dark:hover:border-true-white transition duration-300" >
            {child.slug ?
            <a class="flex flex-grow justify-between items-center text-lg md:text-base font-medium" href={`${Astro.site}${child.slug}/`} aria-label={`open link to ${child.label}`} >
              <span class="p-2">{child.label}</span>
              {child.children.length === 0 && (
              <Icon name="tabler:arrow-right" height={26} width={26} class="w-8 md:hidden" />
              )}
            </a> :
            <span class="flex p-2 text-lg md:text-base font-medium cursor-pointer" aria-label={child.label} @click="grandchildMenuOpen = !grandchildMenuOpen" >
              {child.label}
            </span>
            }
            {child.children.length > 0 && (
            <button class="flex items-center justify-center md:pr-2" aria-label={`opens ${child.label} sub-menu`} :aria-expanded="grandchildMenuOpen" @click="grandchildMenuOpen = !grandchildMenuOpen" @keydown.window.escape="grandchildMenuOpen = false" >
              <Icon name="tabler:chevron-down" height={32} width={32} :class="{'rotate-180': grandchildMenuOpen}" class="w-8 md:w-4 transition duration-300" />
            </button>
            )}
          </div>

          {child.children.length > 0 && (
          <ul class="w-full flex flex-col bg-white dark:bg-black" aria-label={`${child.label} sub-menu`} x-show="grandchildMenuOpen" @click.away="grandchildMenuOpen = false" >

            {child.children.map((grandchild: MenuItem) => (
              <li class="flex px-4 py-2 text-black hover:text-true-black dark:text-white dark:hover:text-true-white md:p-0 border-b-2 border-light-grey dark:border-dark-grey md:hover:border-true-black dark:md:border-dark-grey dark:md:hover:border-true-white transition duration-300" >
                <a class="flex flex-grow justify-between items-center font-medium text-lg md:text-base" href={`${Astro.site}${grandchild.slug}/`} aria-label={`open link to ${grandchild.label}`} >
                  <span class="p-2">{grandchild.label}</span>
                  <Icon name="tabler:arrow-right" height={26} width={26} class="w-8 md:hidden" />
                </a>
              </li>
            ))}
          </ul>
          )}
        </li>
        ))}
      </ul>
        )}
    </li>
    ))}
  </ul>
  <div class="-z-40 absolute bottom-0 w-full block border-b-2 border-light-grey dark:border-dark-grey" aria-hidden="true"></div>
</nav>
