---
import { type CollectionEntry, getCollection, render } from 'astro:content';
import { PERMALINK_POSTS_SINGLE } from '../../consts';
import { sortMostRecent } from '../../utils/sortingHat';
import Layout from '../../layouts/Layout.astro';
import Banner from '../../components/sections/Banner.astro';
import Title from '../../components/ui/Title.astro';
import AuthorProfile from '../../components/blocks/AuthorProfile.astro';

export async function getStaticPaths() {
    const posts = (await getCollection('posts')).sort(sortMostRecent);
    const postCount = posts.length;
    return posts.map((post, index) => ({
        params: { postsArchive: PERMALINK_POSTS_SINGLE, post: post.id },
        props: {
            post,
            prevPost: index + 1 !== postCount ? posts[index + 1] : null,
            nextPost: index !== 0 ? posts[index - 1] : null
        }
    }));
}

type Props = { post: CollectionEntry<'posts'>; prevPost: CollectionEntry<'posts'>; nextPost: CollectionEntry<'posts'> };

const { href } = Astro.url;
const { post, prevPost, nextPost } = Astro.props;
const { Content } = await render(post);
---

<Layout title={post.data.seo?.title || post.data.title} metaDesc={post.data.seo?.description || post.data.description}>
  <article>
    <header>
      <Banner
        title={post.data.title}
        titleTag="h1"
        description={post.data.description}
        date={post.data.pubDate}
        image={post.data.image?.src}
        alt={post.data.image?.alt}
        aspectRatio='video'
      />
    </header>

    <div class="flex flex-col md:flex-row gap-8 md:gap-16 md:mb-8">
      <article class="md:py-8">
        <Content />
      </article>

      <aside class="not-prose flex flex-col flex-shrink-0 md:w-72 md:py-8">
        <div class="relative flex flex-col mb-8">
          <Title titleTag='h2' class="md:text-xl mb-2">About this post</Title>
          <div class="absolute bottom-0 -z-40 block w-full border-b-2 border-theme-300 dark:border-theme-700" aria-hidden="true"></div>
        </div>

        <AuthorProfile />

        <div class="relative flex flex-col mb-8">
          <Title titleTag='h2' class="md:text-xl mb-2">Recent Posts</Title>
          <div class="absolute bottom-0 -z-40 block w-full border-b-2 border-theme-300 dark:border-theme-700" aria-hidden="true"></div>
        </div>
      </aside>
    </div>
  </article>
</Layout>
