---
import type { GetStaticPathsOptions, Page } from 'astro';
import { type CollectionEntry } from 'astro:content';
import { CUSTOM_PER_PAGE, PERMALINK_CUSTOM, PERMALINK_CUSTOM_SINGLE, THEME_CONTAINER_DESKTOP, THEME_CONTAINER_MOBILE } from '~/consts';
import { getEntries } from '~/utils';
import Layout from '~/layouts/Layout.astro';
import CustomCard from '~/components/cards/Post.astro';
import SectionHeader from '~/components/partials/SectionHeader.astro';
import Pagination from '~/components/ui/Pagination.astro';

interface Props { 
  page: Page<CollectionEntry<'custom'>>
};

export async function getStaticPaths({ paginate }: GetStaticPathsOptions) {
    const custom = await getEntries('custom');
    return paginate(custom, { 
      params: { custom: PERMALINK_CUSTOM },
      pageSize: CUSTOM_PER_PAGE || 9
    });
};

const { page }: Partial<Props> = Astro.props;
---

<Layout
  title="All custom"
  description="An archive of all custom"
>
  <section class={`flex flex-col py-8 ${THEME_CONTAINER_DESKTOP} ${THEME_CONTAINER_MOBILE}`}>

    <SectionHeader
      class="border-b-2 border-light-grey dark:border-dark-grey mb-8"
      title="Archive"
      titleTag="h1"
      description={`Showing ${page.start + 1} to ${page.end + 1} custom out of ${page.total} custom.`}
    />

    <div class="grid gap-8 grid-cols-1 sm:grid-cols-2 lg:grid-cols-3">
      {page.data.map((custom) =>
        <CustomCard
          title={custom.data.title}
          titleTag="h3"
          description={custom.data.description}
          date={custom.data.pubDate}
          image={custom.data.image?.src}
          alt={custom.data.image?.alt}
          href={`${Astro.site}${PERMALINK_CUSTOM_SINGLE}${custom.data.slug}/`}
        />
      )}
    </div>

    <Pagination
      page={page}
    />

  </section>
</Layout>
