---
import type { ButtonProps } from '~/types';
import { Icon } from 'astro-icon/components';

const { buttonStyle, text, textClass, href, icon, iconSize = 21, iconRotate, iconReverse, ariaLabel, class: className, ...rest }: Partial<ButtonProps> = Astro.props;

let buttonCSS;
switch (buttonStyle) {
  case 'primary':
    buttonCSS = 'py-2 px-4 border-2 border-black dark:border-white bg-black hover:bg-transparent dark:bg-transparent dark:hover:bg-white text-white dark:text-white hover:text-true-black dark:hover:text-true-black';
    break;
  case 'link':
    buttonCSS = 'w-fit mx-auto lg:mx-0 p-2 text-black hover:text-true-black dark:text-white dark:hover:text-true-white border-transparent border-b-2 hover:border-true-black dark:hover:border-true-white';
    break;
  case 'disabled':
    buttonCSS = 'p-2 text-white dark:text-black border-transparent border-b-2 cursor-not-allowed';
    break;
  default:
    buttonCSS = '';
    break;
}
---

<a href={href} class:list={['group/btn flex gap-2 justify-center items-center transition ease-in-out duration-300', buttonCSS, iconReverse ? 'flex-row-reverse' : '', className]} aria-label={ariaLabel} {...rest} >
  <span class:list={['font-medium', textClass ? textClass : '']}>
    {text}
  </span>
  { icon && (
    <Icon
      name={icon}
      height={iconSize}
      width={iconSize}
      class:list={['self-center', iconRotate ? 'group-hover/btn:-rotate-45 transition duration-300' : '']}
    />
  )}
</a>
