---
import Button from '~/components/ui/Button.astro';

const iconSize = 21;
const { page, class: className, ...rest } = Astro.props;
---

<nav class:list={['flex justify-center pt-8 md:pt-12', className]} aria-label="pagination" {...rest} >
  <ul class="flex items-center">
    <li class="w-1/4 flex justify-end">
      {page.url.prev ?
        <Button
          buttonStyle="link"
          href={page.url.prev}
          text="Previous"
          icon="tabler:arrow-left"
          iconSize={iconSize}
          iconReverse={true}
          iconRotate={false}
          aria-label="Go to the previous page"
        />
        :
        <Button
          buttonStyle="disabled"
          href=""
          text="Previous"
          icon="tabler:arrow-left"
          iconSize={iconSize}
          iconReverse={true}
          iconRotate={false}
          aria-label="Go to the previous page"
          aria-disabled="true"
        />
      }
    </li>

    <li class="w-1/2 flex justify-center">
      <span class="px-4 border-l-2 border-r-2 border-light-grey dark:border-dark-grey text-black dark:text-white" aria-label="Current page indicator">
        Page {page.currentPage} of {page.lastPage}
      </span>
    </li>

    <li class="w-1/4 flex justify-end">
      {page.url.next ?
        <Button
          buttonStyle="link"
          href={page.url.next}
          text="Next"
          icon="tabler:arrow-right"
          iconSize={iconSize}
          iconRotate={false}
          aria-label="Go to the next page"
        />
        :
        <Button
          buttonStyle="disabled"
          href=""
          text="Next"
          icon="tabler:arrow-right"
          iconSize={iconSize}
          iconRotate={false}
          aria-disabled="true"
        />
      }
    </li>
  </ul>
</nav>
